@model Robotics.Models.OfficialStatements

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>OfficialStatements</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Publisher" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Publication" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Publication" class="form-control" />
                <span asp-validation-for="Publication" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Issue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Issue" class="form-control" />
                <span asp-validation-for="Issue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Publicationdate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Publicationdate" class="form-control" />
                <span asp-validation-for="Publicationdate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pages" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
