@model Robotics.Models.SpecificRobots

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SpecificRobots</h4>
    <hr />
@if (Model.SpecificRobotsTrans.Language == 1)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>
                <td>
                    Description:
                </td>
              <td>
                  @Model.SpecificRobotsTrans.Description
              </td>
            </tr>
            <tr>
                <td>
                    Branches:
                    <dl class="dl-horizontal">
    @foreach (var industry in Model.Branches)
    {

        <dd>@industry.Id</dd>
    }
    </dl>
                </td>
                <td>
                    Description @Model.SpecificRobotsTrans.Description
                </td>

            </tr>
        </tbody>
    </table>
}
    <dl class="dl-horizontal"></dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
