@model Robotics.Models.AddressesInRelation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateAndConnect</h2>

<form asp-action="CreateAndConnect">
    <div class="form-horizontal">
        <h4>AddressesInRelation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" name="currentpath" id="currentpath" class="form-control" value="@ViewBag.currentpath" />

            <label asp-for="Tablename" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tablename" class="form-control" value="@ViewBag.tablename"/>
                <span asp-validation-for="Tablename" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tableid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tableid" class="form-control" value="@ViewBag.tableid"/>
                <span asp-validation-for="Tableid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Addresses" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Addresses" class ="form-control" value="@ViewBag.addressesid" />
                <span asp-validation-for="Addresses" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreateAndConnect" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
